<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="login-info hide" >
  您上次登录时间：
  <span class="login-time" ng-bind="currentUserInfo.lastLoginTime"></span>
</div>
<div class=" center-block text-center">
  <h1 style="color: #40357a;">angular UI</h1>
  <h2>
    <!--[if lt IE 8]>
    <p class="browserupgrade">
      You are using an <strong>outdated</strong>
      browser. Please
      <a href="http://browsehappy.com/">upgrade your browser</a>
      to improve your experience.
    </p>
    <![endif]--> </h2>
</div>

