.layout-block{
    .layout-header{
        height: 1rem;
        border: solid 1px grey;
        text-align: center; 
    }
    .layout-content{
        display: flex;
        .layout-children{
            float: 1;
        }
    }
    .layout-footer{
        border: solid 1px grey;
        height: 1rem;
        text-align: center;        
    }
    .layout-navigation{
        display: block;
        border: solid 1px grey;
        width: 2rem;
    }
}