html {
  background-color: white !important;
}

.is-app-env-false {
	.dialog-overlay {
		top: 50px;
	}
}
//.gl-mask{background: rgba(0, 0, 0, 0.1) !important;}
.margin-top-30 {
  margin-top: 0.3rem;
}
.margin-top-24 {
  margin-top: 0.24rem;
}
.margin-top-revert-1 {
  margin-top: -0.01rem;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.description-safe {
  line-height: 0.3rem;
  font-size: 0.12rem;
  color: #585c64;
}
.tpy-text {
  font-size: 0.12rem;
  color: #919ba5;
}
.text.text-left {
  text-align: left;
}
.margin-top-10 {
  margin-top: 0.1rem;
}
.margin-top-30 {
  margin-top: 0.3rem;
}
.padding-top-30 {
  padding-top: 0.3rem;
}
.padding-top-15 {
  padding-top: 0.15rem;
}
.padding-top-10 {
  padding-top: 0.1rem;
}
.label-icon {
  .icon-warn {
    color: #157efa;
  }
}
.red-text {
  color: #ff3e83 !important;
}
.container-gray {
  background-color: #f3f4f5;
}
.container{
	//min-height: 400px;
	min-height: 100vh;
}
.container-logo {
  position: relative;
  //min-height: 100%;
  //min-height: 100vh;
  padding-bottom: 0.6rem;

  &:after {
    position: absolute;
    content: url("@{baseurl}/cashier_logo.png?v=0727") !important;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, 0) scale(0.34);
	}
	&.jr-logo::after{
		content: url("@{baseurl}/logo_jr.png") !important;
	}
}
.service-tel {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 9px;
  color: #98989f;
  font-size: 0.12rem;
}

.description-text {
  line-height: 0.3rem;
  font-size: 0.12rem;
  color: #585c64;
}
.proto-link {
  color: #157efa;
}
.container-relative {
  position: relative;
}
.bind-card-text {
  height: 0.4rem;
  line-height: 0.4rem;
  font-size: 0.15rem;
  color: #222;
  letter-spacing: 0;
  text-align: left;
}
.sms-dialog-wrap,
.message-pay {
  .ipt-container {
    height: 0.4rem;
  }
  .ipt-wrap {
    height: 0.4rem;

    .ipt {
      height: 0.4rem;
    }
  }
  .ipt-container .ipt-body .ipt-identify-right .ipt-identify-line {
    height: 0.3rem;
  }
  .ipt-wrap .ipt-close {
    height: 0.4rem;
    line-height: 0.4rem;
  }
}
.long-password-pay {
  margin: 15px 0;
}
.com404 {
  display: flex;
  flex: none;
  margin-top: 0.4rem;
  height: 0.4rem;
  align-items: center;
  justify-content: center;
  font-size: 0.3rem;
}
.brand-img {
  img {
    width: 100%;
    border-radius: 4px;
  }
}
.icon-small {
  width: 0.16rem;
  display: inline-block;
  position: relative;
  top: 1px;

  img {
    width: 100%;
  }
}

.title-gray.title-gray{
	color: #585c64;
}

.com404{
	display: flex;
	flex: none;
	margin-top: 0.4rem;
	height: 0.4rem;
	align-items: center;
	justify-content: center;
	font-size: 0.3rem;
}
.message-pay {
	text-align: center;
	margin-top: 0.12rem;

	.title {
		font-size: 0.12rem;
		color: #919ba5;
	}
	.comp {
		border: 1px #D8D8D8 solid;
		width: 90%;
		margin: 0.16rem auto 0.16rem auto;
	}
	.ipt-container {
		height: 0.4rem;
	}
	.ipt-wrap {
		height: 0.4rem;

		.ipt {
			height: 0.4rem;
		}
	}
	.ipt-container .ipt-body .ipt-identify-right .ipt-identify-line {
		height: 0.3rem;
	}
	.ipt-wrap .ipt-close {
		height: 0.4rem;
		line-height: 0.4rem;
	}
}
.pay-block, .dialog-container {
	.vh5-mask {
		z-index: 1004;
		background: white;
		border-radius: 5px;
	}
}
.long-password-pay {
    margin: 15px 0;
}

.clause-container{
	background-color: #fff;
	padding:0 .4rem;
	font-size: .14rem;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	.clause-title{
		padding-top: 1rem;
		font-size: .17rem;
		text-align: center;
		padding-bottom: .2rem;
		border-bottom: 1px solid #e1e1e1;
		margin-bottom: .15rem;
		color: #222222;
	}
	.clause-text{
		flex: 1;
		overflow-y: auto;
		color: #585C64;
		line-height: .23rem;
	}
	.clause-btn{
		padding-top: .15rem;
		padding-bottom: .75rem;
	}
}
.agreement-link {
	color: #157EFA;
}
.description-text {
	line-height: .3rem;
	font-size: 0.12rem;
	color: #585c64;
}
.bc-instructions{
	position: absolute;
	top: .5rem;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: #fff;
	overflow-y: auto;
	padding-top: .1rem;
	&.no-header{
		top: 0;
	}
	li{
		padding: .1rem .15rem;
		h3{
			font-weight: normal;
			font-size: .15rem;
			color: #222222;
		}
		p{
			padding-top: .1rem;
			font-size: .14rem;
			color: #98989F;
		}
	}
}
.proto-link {
	color: #157EFA;
}
.container-relative {
	position: relative;
}
.bind-card-text {
	height: .4rem;
	line-height: 0.4rem;
	font-size: .15rem;
	color: #222;
	letter-spacing: 0;
	text-align: left;
}
.password-pay {
	text-align: center;
	margin-top: 0.24rem;
	margin-bottom: 0.12rem;

	.text {
		display: inline-block;
		font-size: 0.12rem;
		color: #157EFA;
	}
	.icon-warn {
		color: #EF5A1D;
		font-size: .16rem;
		margin-right: .02rem;
	}
	.short-pass {
		width: 80%;
		margin: 0 auto;
	}
}
.border-line {
	border: 1px #D8D8D8 solid;
	border-radius: 2px;
	width: 90%;
	margin: 0.10rem auto;
}
.customer-label-title {
	color: #585c64 !important;
	font-size: 0.15rem !important;
	width: .65rem !important;
}
.customer-label-content {
	color: #222 !important;
	font-size: 0.15rem !important;
}
.description-safe {
	line-height: .3rem;
	font-size: 0.12rem;
	color: #585c64;
}
.light-border {
	background: #FFD6D6;
}
.header-gray {
	.header.header {
		border-bottom: none;

		.header-text {
			background-color: #f3f4f5;
		}
	}
}

.hint-text {
    font-size: .12rem;
    color: #585C64;
}

.input-right-wrap{
	display: flex;
    align-items: center;
    justify-content: center;
    height: 0.5rem;
    width: 100%;
}
.tpy-text{
	font-size: 0.12rem;
	color: #919ba5;
	.icon-small{
		width: 0.16rem;
		display: inline-block;
		position: relative;
    	top: 1px;
		img{
			width: 100%;
		}
	}
	.des-text{
		margin-left: 0.04rem;
	}
}


.title-gray.title-gray{
	color: #585c64;
  	margin-left: 0.04rem;
}

.overflow-height {
	max-height: 100vh;
    overflow: auto;
    padding-bottom: 0.8rem;
}

.delete-line{
	text-decoration: line-through;
}